body {
    font-family: 'Overpass', sans-serif;
}

header {
    width: 85vw;
    margin-bottom: 15vh;
    margin-left: auto;
    margin-right: auto;
}

#high-score {
    background-color: burlywood;
}

#high-score:hover {
    border: 2px solid grey;
    margin: -1px;
}

main {
    background-color: burlywood;
    height: 63vh;
    width: 100vw;
}

#finish {
    padding-top: 20vh;
}